.wrapper [class*="SchedulingContainer__grid"] > * {
  background-color: white;
}

.eventConvDesc [class*="EventConvDescription__slider"] [class*="slick-prev"],
.eventConvDesc [class*="EventConvDescription__slider"] [class*="slick-next"] {
  color: #000000;
}

.eventConvDesc [class*="EventConvDescription__slider"] [class*="slick-prev"]:hover,
.eventConvDesc [class*="EventConvDescription__slider"] [class*="slick-next"]:hover {
  color: grey;
}

.eventConvModal [class*="slick-prev"],
.eventConvModal [class*="slick-next"] {
  color: #000000;
}

.eventConvModal [class*="slick-prev"]:hover,
.eventConvModal [class*="slick-next"]:hover {
  color: grey;
}

.eventConvDesc [class*="EventConvDescription__profileNameWrapper"] {
  background-color: rgba(72, 72, 72 0.75);
}

.eventConvDesc [class*="EventConvDescription__profileName"] {
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

.eventConvDesc [class*="EventConvDescription__headerWrapperNoCover"] [class*="EventConvDescription__profileNameWrapper"] {
  background-color: rgba(72, 72, 72 1);
}

.eventConvDesc [class*="EventConvDescription__iconBlock"] [class*="IconBlock__wrapper"] {
  background-color: #000000;
  color: white;
}

.eventConvDesc [class*="EventConvDescription__iconBlock"] [class*="IconBlock__wrapper"]:hover {
  background-color: grey;
}
