.wrapper {
  overflow: hidden;
  color: black;
  background-color: white;
  background-repeat: repeat;
}

.title [class*="BlockWithTitle__blockTitle"] {
  background-color: black;
}

.title [class*="BlockWithTitle__blockTitle"] [class*="FullLineTitle__title"] {
  color: white;
}

.grid {
  background-color: rgba(255, 255, 255, 0.9);
}