.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.pictureLink:hover {
  cursor: pointer;
}

.pictureLink [class*="CoverPictureLink__linkContent"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
}

.comingSoon {
  text-align: center;
  padding: 100px 0;
}
