.mainContent {
  background-color: var(--segundary-color);
  min-height: 55px;
}


@media only screen and (min-width: 768px) {
  .mainContent {
    min-height: 110px;
  }
}


.logoHeaderXS {
  height: 55px;
}

.logoHeader {
  width: 100%;
  padding: 10px;
}

@keyframes toStickyPosition {
  from {
    top: -60px;
  }

  to {
    top: 0;
  }
}

.stickyMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 110px;
  z-index: 1100;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
  animation-duration: 1s;
  animation-name: toStickyPosition;
}

.stickyMenu {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

.logoMini {
  height: 55px;
  text-align: center;
}
.logo {
  height: 110px;
}

.langSwitcher {
  margin-top: 7px;
  font-size: 13px;
}

.langSwitcher [class*='FrEnUrlSwitcher__notSelected'] {
  color: white !important;
}

.langSwitcher [class*='FrEnUrlSwitcher__selected'] {
  background-color: var(--primary-color) !important;
  color: var(--segundary-color) !important;
}

.langSwitcher [class*="FrEnUrlSwitcher__button"] {
  line-height: 22px !important;
  height: 22px !important;
}

.moreMenuIcon {
  font-size: 1.3rem !important;
}

.accountBtn {
  height: 54px;
}
