/*
.wrapper [class*="SchedulingTeaserContainer__grid"] > * {
  background-color: white;
}
*/

.grid {
  background-color: rgba(255,255,255,0.9);
}

.wrapper {
}

.artistDesc [class*="ArtistDescription__slider"] [class*="slick-prev"],
.artistDesc [class*="ArtistDescription__slider"] [class*="slick-next"] {
  color:white;
}

.artistDesc [class*="ArtistDescription__slider"] [class*="slick-prev"]:hover,
.artistDesc [class*="ArtistDescription__slider"] [class*="slick-next"]:hover {
  color: var(--segundary-color);
}

.artistModal [class*="slick-prev"],
.artistModal [class*="slick-next"] {
  color:white;
}

.artistModal [class*="slick-prev"]:hover,
.artistModal [class*="slick-next"]:hover {
  color: var(--segundary-color);
}

.artistDesc [class*="ArtistDescription__profileNameWrapper"] {
  background-color:var(--primary-color);
}

.artistDesc [class*="ArtistDescription__profileName"] {
  font-family: 'ITC Avant Garde Gothic, Roboto',Helvetica,Arial,sans-serif;
}

.artistDesc [class*="ArtistDescription__headerWrapperNoCover"] [class*="ArtistDescription__profileNameWrapper"] {
  background-color:var(--primary-color);
}

.artistDesc [class*="ArtistDescription__iconBlock"] [class*="IconBlock__wrapper"] {
  background-color:var(--primary-color);
  color:white;
}

.artistDesc [class*="ArtistDescription__iconBlock"] [class*="IconBlock__wrapper"]:hover {
  background-color: var(--segundary-color);
}
