.wrapper {
  position: relative;
  display: block;
  width: 100%;

  text-decoration: none;
  color: inherit;

  border-bottom: 1px solid grey;
}

.route {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.6rem;

  padding-top: 5px;
  padding-bottom: 5px;
}

.routeColor {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  transform: translateY(25%);
}

.mobileEventWrapper {
  padding: 10px;
}

.mobileEventName {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;

  padding-left: 48px;
  padding-right: 48px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.eventPicture {
  width: 100px;
  min-height: 100px;

  background-color: #000000;

  display: none;
}

@media only screen and (min-width: 768px) {
  .eventPicture {
    display: block;
  }

  .mobileEventName {
    padding-left: 0;
    padding-right: 0;
  }
}

.eventDescription {
  min-height: 100px;
  flex: 1;
}

.hoverContainer {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(238, 238, 238, 0.2);
}

.wrapper:hover .hoverContainer {
  display: block;
}

.languageWrapper {
  width: 21px;
  height: 15px;
  display: inline-block;
  margin-left: 20px;
}

.eventDetail {
  display: inline-block;
}

.subscriptionContainer [class*="SubscriptionContainer__subscriptionContainer"] {
  top: 0;
  left: 0;
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: grey !important;
}
