.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.coverPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.linkContent {
  height: 100%;
  width: 100%;
}

.pictoPicture {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
}

.linkUnderPicto {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.linkUnderPictoText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  font-weight: bold;
}
