.wrapper {
  padding-bottom: 10px;

  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

.wrapper [class*="BlueColoredTitle__title"] [class*="FullLineTitle__title"] {
  text-transform: uppercase;
}

.tabBtn {
  font-size: 1.6rem !important;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .tabBtn {
    font-size: 1.7rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .tabBtn {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .tabBtn {
    font-size: 2rem !important;
  }
}

.tabBtn:hover {
  background-color: grey !important;
}

.moreBtnWrapper {
  height: 70px;
}

.emptyWrapper {
  height: 50px;
}

.emptyWrapper > div {
  position: relative;
  height: 100%;
}

.emptyWrapper > div > span {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
