.wrapper {
  background-color: var(--segundary-color);
  color:white;
  padding: 1%;
}

.contactZone {
  text-align: center;
}

.blockTitle {
  height: 20px;
  margin-tom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.contactContainer {
  margin-top: 2%;
}

.footerContent {
}

.linkContainer {
  text-align: center;
}

.downloadLink, .downloadLink img {
  cursor: pointer !important;
}

.beepeersWrapper {
  text-align: center;
  color:white;
  padding-top: 10px;
  padding-bottom: 15px;
}

.beepeersWrapper a {
  color: inherit;
  text-decoration: none;
}

.beepeersWrapper a:hover {
  text-decoration: underline;
}

.beepeersWrapper a img {
  margin-bottom: -12px;
}

.newsletterForm {
  height: 100%;
  width: 100%;
}

.newsletterForm [class*="ArenaMetrixNewsletter__form"] {
  height: 80%;
  text-align: center;
}

.newsletterForm [class*="ArenaMetrixNewsletter__emailInput"] {
  height: 35px;
  width: 80%;
}

.newsletterForm [class*="ArenaMetrixNewsletter__submitBtn"] {
  height: 35px;
  width: 15%;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--segundary-color);
  color:white;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.newsletterForm [class*="ArenaMetrixNewsletter__resultMessage"] {
  height: 30%;
  color:white;
  text-align: center;
  font-size: 1.2rem;
}

.contactItem a {
  color:white;
  text-decoration: none;
}

.contactItem a:hover {
  color: lightgrey;
}
