.blockTitle [class*="BlockWithTitle__blockTitle"] {
  height: 30px;
  text-align: center;
}

.blockTitle [class*="BlockWithTitle__blockTitle"] [class*="FullLineTitle__title"] {
  color: black;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .blockTitle [class*="BlockWithTitle__blockTitle"] {
    height: 40px !important;
  }

  .blockTitle [class*="BlockWithTitle__blockTitle"] [class*="FullLineTitle__title"] {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .blockTitle [class*="BlockWithTitle__blockTitle"] {
    height: 50px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .blockTitle [class*="BlockWithTitle__blockTitle"] {
    height: 60px !important;
  }
}