.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logoHeader {
  width: 100%;
  height: 100%;
  min-height: 55px;
}
