.contentWrapper > * {
  background-color: rgba(255,255,255,0.9);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  height: 100px;
  color:#000;
}

.message {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:white;
  font-weight: bold;
  font-size: 2rem;
}
