.eventWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 25px;
}

.eventWrapper [class*="SubscriptionContainer__childrenContainer"] {
  height: 100%;
}

.eventWrapper [class*="SubscriptionContainer__subscriptionContainer"] {
  top: -15px;
  right: 10px;
  bottom: inherit;
}

.eventWrapper [class*="ShareContainer__childrenContainer"] {
  height: 100%;
}

.eventWrapper [class*="ShareContainer__shareContainer"] {
  top: 0px;
  right: 93px;
  bottom: inherit;
  background-color: var(--segundary-color);
  width: 38px;
  height: 38px;
}

.eventWrapper [class*="ShareContainer__shareContainer"] button {
  width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

.eventWrapper [class*="ShareContainer__shareContainer"] span {
  color: white !important;
}

.eventWrapper [class*="ShareContainer__shareContainer"]:hover {
  background-color: white;
}

.eventWrapper [class*="ShareContainer__shareContainer"] span:hover {
  color: var(--segundary-color) !important;
}

.eventWrapper [class*="ShareButton__wrapper"], .eventWrapper [class*="ShareButton__wrapper"]:hover {
  background-color: inherit;
}

.eventWrapper [class*="ExternalLinkContainer__childrenContainer"] {
  height: 100%;
}

.eventWrapper [class*="ExternalLinkContainer__externalLinkContainer"] {
  background-color: var(--segundary-color);
  color: white;
  width: 38px;
  height: 38px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.eventWrapper [class*="ExternalLinkContainer__externalLinkContainer"] a:hover {
  color: var() !important;
  background-color: white !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .eventWrapper [class*="ShareContainer__shareContainer"] {
    right: 93px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .eventWrapper [class*="ShareContainer__shareContainer"] {
    right: 111px;
  }
}

@media only screen and (min-width: 1200px) {
  .eventWrapper [class*="ShareContainer__shareContainer"] {
    right: 124px;
  }
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: var(--segundary-color) !important;
}

.event [class*="LinkedActorVertical__date"] {
  background-color: var(--segundary-color);
  font-weight: bold;
  position: relative;
  width: 100%;
  right: 0;
  bottom: 0;
  top: auto;
}

.event [class*="LinkedActorVertical__externalLinkContainer"] {
  background-color: var(--segundary-color);
}
