.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.cardButtonLink {
  padding-top: 10px;
  height: 90%;
}

.playButtonIcon:hover {
  color: #f69f00;
}

.playButtonIcon { /*transform: translateY(-50%); */
}
