.menu {
  position: relative;
  width: 100%;
  height: 54px;
  overflow: hidden;
}

.menu * {
}

@keyframes closeMenu {
  0%   {
    height: 60%;
  }
  100% {
    height: 100%;
  }
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  animation-name: closeMenu;
  animation-duration: 0.5s;
}

@keyframes openMenu {
  0%   {
    height: 100%;
  }
  100% {
    height: 60%;
  }
}

.menu [class*="MainMenu__menuMainOpen"] {
  height: 60%;
  animation-name: openMenu;
  animation-duration: 0.5s;
}

@keyframes closeSubmenu {
  0%   {
    bottom: 0;
  }
  100% {
    bottom: -40%;
  }
}

.submenu {
  position: absolute;
  bottom: -40%;
  left: 0;
  height: 40%;
  animation-name: closeSubmenu;
  animation-duration: 0.5s;
}

@keyframes openSubmenu {
  0%   {
    bottom: -40%;
  }
  100% {
    bottom: 0;
  }
}

.menu [class*="SubMenu__submenuDisplayed"] {
  bottom: 0;
  animation-name: openSubmenu;
  animation-duration: 0.5s;
}
