.wrapper {
  overflow: hidden;
  color: black;
  background-repeat: repeat;
}

.title [class*="BlockWithTitle__blockTitle"] {
  background-color: var(--primary-color);
}

.title [class*="BlockWithTitle__blockTitle"] [class*="FullLineTitle__title"] {
  color:white;
  text-transform: uppercase;
}

.grid {
  background-color: var(--primary-color);
}
