.mapBlock {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailsBlockWrapper {
  padding: 20px;
  font-size: 1.6rem;
}

.detailsBlockWrapper span {
  font-weight: bold;
}

.detailsBlockWrapper a {
  color: inherit;
  text-decoration: inherit;
}

.detailsBlockWrapper a:hover {
  color: var(--segundary-color);
  text-decoration: underline;
}

.icon {
  margin-right: 10px;
  color: var(--segundary-color);
}

.marker {
  color: var(--segundary-color);
}

.tabBtn {
  font-size: 1.6rem !important;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .tabBtn {
    font-size: 1.7rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .tabBtn {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .tabBtn {
    font-size: 2rem !important;
  }
}

.tabBtn:hover {
  background-color: var(--primary-color) !important;
  color: var(--segundary-color) !important;
}

.summary {
  padding: 20px;
  text-align: center;
  font-size: 1.6rem;
  text-align: justify;
}

.content {
  padding: 20px;
  text-align: justify;
}

.contentNode {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  text-align: justify;
}

.slider [class*="slick-prev"],
.slider [class*="slick-next"] {
  color: var(--primary-color);
}

.slider [class*="slick-prev"]:hover,
.slider [class*="slick-next"]:hover {
  color: var(--segundary-color);
}

.modalSlider [class*="slick-prev"],
.modalSlider [class*="slick-next"] {
  color: var(--primary-color);
}

.modalSlider [class*="slick-prev"]:hover,
.modalSlider [class*="slick-next"]:hover {
  color: var(--segundary-color);
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.coverWrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
