.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container:hover [class*="TicketColoredLink__linkContent"] {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .3s ease-in-out;
}

.container:hover [class*="Picture__background"] {
  -webkit-transform: translate(0%) scale(0.99);
  transform: translate(0%) scale(0.99);
  transition: all .3s ease-in-out;
}

.container:hover .linkContentButton {
  /*display: inline-block;*/
  opacity: 1;
  transition: all .3s ease-in-out;
}

.container:hover .linkContentText, .container:hover .linkContentPrice {
  color: #fff;
  background-color: transparent;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.linkContent {
  padding: 10px 0;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: black;
}

.linkContentText {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.5);
}

.linkContentPrice {
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.5);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 31%;
}

.linkContentButton {
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  font-size: 1.3rem;

  margin: 0 auto;
  border: 1px solid;
  border-radius: 0.2em;
  width: 80%;

  /*background-color: transparent;*/
  color: #fff;
  border-color: #fff;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}

.linkContentButton:hover {
  background-color: #fff !important;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .linkContentButton {
    font-size: 1rem;
  }
}


@media only screen and (min-width: 768px) {
  .linkContentText {
    font-size: 2rem;
    font-weight: bold;
  }

  .linkContentPrice {
    font-size: 2rem;
    font-weight: bold;
  }

  .linkContentButton {
    font-size: 1.3rem;
    width: 70%;
    height: 30px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .linkContentButton {
    width: 60%;
  }

  .linkContentButton {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  .linkContentText {
    font-size: 2.5rem;
  }

  .linkContentPrice {
    font-size: 2.5rem;
  }

  .linkContentButton {
    font-size: 2rem;
  }
}