.wrapper {
  width: 100%;
  height: 400px !important;
  display: block;
  text-decoration: none;
  color: inherit;
  margin-top: 5px;
}

.routeColor {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mobileEventWrapper {
  padding: 10px;
}

.mobileEventName {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.eventPicture {
  flex: 2;
}

.eventDescription {
  flex: 1;
  height: 30%;
}

.hoverContainer {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(238, 238, 238, 0.4);
}

.wrapper:hover .hoverContainer {
  display: block;
}

.languageWrapper {
  width: 21px;
  height: 15px;
  display: inline-block;
  margin-left: 20px;
}

.eventDetail {
}

.contain {
  width: 100%;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
