.wrapper {
  height: 100%;
}

.wrapper [class*="BlueColoredTitle__content"] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper [class*="BlueColoredTitle__content"] div:nth-child(2) {
  flex: 1;
}

.staticContent {
  color:black;
}

.staticContent [class*="StaticContentVertical__infos"] {
  background-color: transparent;
}

.staticContent [class*="StaticContentVertical__title"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  height: 160px;
  background-color: var(--primary-color);
  color:white;
}

.staticContent [class*="StaticContentVertical__abstract"] a,
.staticContent [class*="StaticContentVertical__description"] a,
.staticContent [class*="StaticContentVertical__detailsBlock"] a {
  color: #6495ED;
}

.staticContent [class*="StaticContentVertical__abstract"] *,
.staticContent [class*="StaticContentVertical__description"] *,
.staticContent [class*="StaticContentVertical__details"] * {
  text-align: justify;
}

.staticContent [class*="StaticContentVertical__abstract"],
.staticContent [class*="StaticContentVertical__description"] {
  font-size: 1.7rem;
}

.linkContainer {
  padding: 10px;
}

.linkTitle span {
  /* font-family: "Industria", sans-serif; */
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.link:hover {
  background-color: var(--segundary-color);
}
