.sectionTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    height: 36px;
    background-color: var(--primary-color);
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
}

.itemsList [class*="ResponsiveGallery__itemContainer"] {
    padding: 0;
}

.itemsList [class*="ResponsiveGallery__itemContainer"] > div {
    padding: 0;
    border: 1px solid #EEEEEE;
}

.container {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.button {
    background: var(--segundary-color);
    padding: 1%;
    margin: auto;
    border-radius: 20px;
    width: 15%;
    color: var(--primary-color);
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.button:hover {
    background: var(--primary-color);
    color: var(--segundary-color);
}
