.wrapper [class*="IconLabel__wrapper"] a {
  text-decoration: none;
}

.wrapper [class*="IconLabel__wrapper"] a:hover {
  text-decoration: underline;
}

.profilePicture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.profileWrapper {
  min-height: 130px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  position: relative;
}

.profilePictureWrapper {
  position: relative;
  min-height: 130px;
  width: 130px;

  background-color: #000000;
}

.profileNameWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(72, 72, 72);

  flex: 1;
  color: white;

  padding: 10px;
}

.profileName {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

.dates {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.location {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.cat {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.route {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.routeColor {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  transform: translateY(25%);
}

.language {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-top: 5px;
}

.languageWrapper {
  width: 21px;
  height: 15px;
  display: inline-block;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  .dates {
    font-size: 1.6rem;
  }

  .location {
    font-size: 1.6rem;
  }

  .cat {
    font-size: 1.6rem;
  }

  .language {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profileName {
    font-size: 2rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .profileName {
    font-size: 2.5rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .profileName {
    font-size: 2.5rem;
    padding: 20px;
  }
}

.subscriptionBtn {
  width: 48px;
  height: 48px;

  position: absolute;
  top: 0;
  left: 0;
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: grey !important;
}

.infos {
  background-color: white;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .infos {
    padding-left: 140px;
  }
}

.detailsContainer {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.abstract, .details {
  width: 100%;
}

.abstract {
  padding-bottom: 2%;
}

.description {
  width: 100%;
  padding: 5%;
  padding-top: 2%;
}

.abstract a, .description a {
  color: black;
}

.descriptionBorder {
  border-top: 1px solid grey;
}

.sliderWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.slider [class*="slick-prev"],
.slider [class*="slick-next"] {
  color: black;
}

.slider [class*="slick-prev"]:hover,
.slider [class*="slick-next"]:hover {
  color: #484848;
}

.mediaGallery {

}

.modalMedia [class*="slick-prev"],
.modalMedia [class*="slick-next"] {
  color: white;
}

.subscriptionContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
}

.shareContainer {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 48px;
  height: 48px;
}

.iconBlock {
  padding: 5px;
  margin-top: 10px;
}

.details {
  width: 100%;
}

.details {
  padding-bottom: 2%;
  padding-top: 2%;
}

.iconBlock [class*="IconBlock__icon"] {
  font-size: 2.3rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 3rem;
  }
}

.soundcloudPlaylistPlayerWrapper {
  position: relative;
  width: 100%;
  height: 400px;

  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .soundcloudPlaylistPlayerWrapper {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 39.06%;
  }
}

.soundcloudPlaylistPlayerContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.soundcloudPlaylistPlayerIFrameWrapper {
  width: 100%;
  height: 100%;
}

.backLink {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
}

.backLink [class*="GoBackButton__wrapper"]:hover {
  color: grey;
}

.liveAndReplayWrapper {
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .liveAndReplayWrapper {
    position: absolute;
    right: 30px;
    bottom: 50%;
  }
}

.liveAndReplayLink {
  display: block;
  position: relative;

  height: 100%;
  width: 150px;

  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.liveAndReplayContent {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  border-radius: 5px;
  padding: 10px;
  background-color: #009AA0;
}

.liveAndReplayContent:hover {
  background-color: grey;
  color: white;
}
