.wrapper {
  height: 100%;
}

.wrapper [class*="BlueColoredTitle__content"] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper [class*="BlueColoredTitle__content"] div:nth-child(2) {
  flex: 1;
}

.sidenav li {
  /*background-color: #003D8E;*/
  background-color: var(--primary-color);
}

.sidenav li:hover {
  /*background-color: #011568;*/
  background-color: white;
}

.section {
  color: black;
}

.faqItem {
  padding: 10px;
}

.faqItem [class*="DropDownQuestion__question"] {
  background-color: var(--primary-color) !important;
  text-align: justify !important;
}

.faqItem [class*="DropDownQuestion__question"]:hover {
  background-color: var(--segundary-color) !important;
}

.faq {
  background-image: none !important;
}

.faqItem [class*="DropDownQuestion__question"] div div div {
  line-height: 25px;
  padding: 0 !important;
}

.faqItem [class*="DropDownQuestion__question"] div div {
  padding: 10px 45px !important;
}
