.button {
  min-width: inherit !important;
  font-family: inherit !important;
  width: 100% !important;
}

.button span {
  letter-spacing: inherit !important;
  font-weight: inherit !important;
  font-size: large !important;
}

.selected {
  color: white;
}

.notSelected {
  color: black;
}
