.partnerWrapper {
  padding: 0;
  margin: 0 auto 0 auto;
}

.whole {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 1%;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: center;
}

.img {
  flex: 1;
  max-width: 30%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text {
  flex: 1;
  align-self: center;
  vertical-align: center;
  margin: 1%;
}
