.wrapper {
  background-color: var(--primary-color);
  margin-bottom: 5%;
}

.staticContent {
  /*background-color: white;*/
  color: black;
  padding-top: 1%;
}

.staticContent [class*="StaticContentVertical__infos"] {
  padding-top: 0;
  padding-bottom: 0;
  min-height: initial;
  background-color: transparent;
}

.staticContent [class*="StaticContentVertical__title"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  height: 160px;
  background-color: var(--primary-color);
  color:white;
}

.staticContent [class*="StaticContentVertical__abstract"] a,
.staticContent [class*="StaticContentVertical__description"] a,
.staticContent [class*="StaticContentVertical__detailsBlock"] a {
  color:white;
}

.staticContent [class*="StaticContentVertical__abstract"] *,
.staticContent [class*="StaticContentVertical__description"] *,
.staticContent [class*="StaticContentVertical__details"] * {
  text-align: justify;
}

.staticContent [class*="StaticContentVertical__abstract"],
.staticContent [class*="StaticContentVertical__description"] {
  font-size: 1.6rem;
}

.staticContent [class*="StaticContentVertical__abstract"],
.staticContent [class*="StaticContentVertical__description"],
.staticContent [class*="StaticContentVertical__details"] {
  padding-left: 0;
  padding-right: 0;
}

.linkContainer {
  padding: 10px;
}

.linkTitle span {
  /* font-family: "Industria", sans-serif; */
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.link:hover {
  background-color: var(--segundary-color);
}

.mediaGallery {

}

.modalMediaGallery [class*="slick-prev"],
.modalMediaGallery [class*="slick-next"] {
  color:white;
}

.modalMediaGallery [class*="slick-prev"]:hover,
.modalMediaGallery [class*="slick-next"]:hover {
  color: var(--segundary-color);
}
