.wrapper {
  height: 55px;
  background-color: black;
}

.logo {
  height: 55px;
  margin-left:18%;
}
.subSitesLinks {
  height: 54px;
}

.menuItem {
  color:white !important;
  font-weight: bold !important;
  text-transform: uppercase;
  height: 54px;
}

.submenuLink {
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:white;
  display: inline-block;
}

.submenuLinkLabel {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  padding: 5px;
  white-space: pre-line;
}

.submenuLinkSelected .submenuLinkLabel {
  color: white !important;
}

.drawerMenu {
  background-color: var(--primary-color) !important;
}

.menuItemContainer {
  height: 42px;
}

.menuSeparator {
  height: 38%;
  margin-top: 33%;
}

.langSwitcher [class*='FrEnUrlSwitcher__notSelected'] {
  color:white !important;
}

.langSwitcher [class*='FrEnUrlSwitcher__selected'] {
  color: var(--segundary-color) !important;
}

.langSwitcher [class*="FrEnUrlSwitcher__button"] {
  line-height: 40px !important;
  height: 40px !important;
}

.accountBtn {

}

.logoMini {
  height: 55px;
}
