.signContainers {
  padding: 20px;
}
.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}
.signContainers [class*="AccountSignInForm__signContainersTitle"], .signContainers [class*="AccountSignUpForm__signContainersTitle"] {
  background-color:var(--primary-color);
}

.signContainers [class*="AccountSignInForm__forgotPassword"] {
  color:var(--primary-color) ;
}

.signContainers [class*="AccountFacebookSignIn__wrapper"] span {
  color:var(--primary-color) !important;
}

.signContainers [class*="AccountTwitterSignIn__wrapper"] span {
  color:var(--primary-color) !important;
}

.containerHint {
  margin: 30px 50px 0px 50px;
}

.hint {

}
