.wrapper {
  width: 100%;
  height: 100%;
}

.linkWrapper {
  text-decoration: none;
  color:black;
  width: 100%;
  height: 100%;
  display: block;
}

.pictureWrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.pictureContent {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25%;
  left: 35%;
  color:white;
}

