.menuItem {
  background-color: var(--primary-color);
}

.menuItem:hover {
  background-color: var(--segundary-color);
}

.favoritesMenuItems {
  background-color: transparent;
  cursor: inherit;
}

.favoritesMenuItemsWrapper {
  height: 100%;
}

.favoritesMenuItem {
  height: 100%;
  background-color: var(--primary-color);
}

.favoritesMenuItem:hover {
  background-color: var(--segundary-color);
}

.favoritesMenuItem a {
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.favoritesMenuItem a i {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 2rem;
}

@media only screen and (min-width: 992px) {
  .favoritesMenuItem a i {
    font-size: 3rem;
  }
}
