.moreMenuIcon {
  font-size: 1.3rem !important;
  margin-left:77%;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
