.wrapper {
  width: 100%;

  padding-bottom: 15px;

}

.wrapper [class*="PictureTitle__contentWrapper"]{
}

.wrapper [class*="PictureTitle__pictureWrapper"]{
  padding-bottom: 15.625%; /* Ratio: 6.4 - 1920 * 300 */
}

.childrenWrapper {
  padding-bottom: 10px;

  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

.childrenWrapper [class*="BlueColoredTitle__title"] [class*="FullLineTitle__title"] {
  text-transform: uppercase;
}

.grid {
  background-color: rgba(255, 255, 255, 0.9);
}
