
@font-face {
  font-family: exo-2;
  src: url('/static/exo-2/Exo2-Regular.otf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: exo-2, 'Roboto',Helvetica,Arial,sans-serif;
  --primary-color: white;
  --segundary-color: red;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

.app {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}


.mainWrapper {
  min-height: 81.5vh;
}

