.tabBtn {
  font-size: 1.6rem !important;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .tabBtn {
    font-size: 1.7rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .tabBtn {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .tabBtn {
    font-size: 2rem !important;
  }
}

.tabBtn:hover {
  background-color: grey !important;
}

.moreBtnWrapper {
  height: 70px;
}

.sectionWrapper {
  display: block;
}

.sectionTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  height: 36px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.routeColor {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fetchingIndicator {
  height: 60px;
}

.sectionWrapper [class*="LinkedEventConv__wrapper"]:last-child {
}

.eventRow:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.2) !important;
}

.emptyWrapper {
  height: 50px;
}

.emptyWrapper > div {
  position: relative;
  height: 100%;
}

.emptyWrapper > div > span {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.languageWrapper {
  width: 21px;
  height: 15px;
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .languagesBlock .languageWrapper:first-child {
    margin-left: 0;
  }

  .languageWrapper {
    display: inline-block;
    margin-left: 10px;
    margin-right: inherit;
    margin-bottom: 0;
  }
}

.topButtonWrapper {
  position: fixed;
  bottom: 10px;
  right: 50%;
  z-index: 1000;

  transform: translateX(45vw);

  display: none !important;
}

@media only screen and (min-width: 768px) {
  .topButtonWrapper {
    transform: translateX(375px);
  }
}

@media only screen and (min-width: 992px) {
  .topButtonWrapper {
    transform: translateX(485px);
  }
}

@media only screen and (min-width: 1200px) {
  .topButtonWrapper {
    transform: translateX(590px);
  }
}

.topButton {
  font-size: 2rem;
}

.displayTopButtonWrapper {
  display: inline-block !important;
}

.linkedEvent [class*="LinkedEventConv__mobileEventName"] {
  text-align: center;
}

.linkedEvent [class*="LinkedEventConv__subscriptionContainer"] [class*="SubscriptionContainer__subscriptionContainer"] {
  bottom: 0;
  right: 0;
}

.subscriptionBtn {
  height: 48px;
  width: 48px;
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: grey !important;
}


.container{
  display: flex;
  flex-direction: row;
  width: inherit;
}

.contained {
  flex: 1;
  max-width: 33%;
}

.dayTitle {
  text-align: center;
  margin-top: 2%;
  color: white;
  background-color: grey;
}
