.wrapper {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mapWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 39.0625%; /* ratio: 2.56 */
}

.mapContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.map {
    width: 100%;
    height: 100%;
}

.marker {
    width: 24px !important;
    height: 38px !important;
    margin-left: -12px !important;
    margin-top: -38px !important;
    font-size: 4rem;
    color: var(--segundary-color);
}

.tooltip {
    margin: 1%;
    height: auto;
    width: auto;
}
