.sectionTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  height: 36px;
  background-color: var(--primary-color);
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.itemsList [class*="ResponsiveGallery__itemContainer"] {
  padding: 0;
}

.itemsList [class*="ResponsiveGallery__itemContainer"] > div {
  padding: 0;
  border: 1px solid #EEEEEE;
}
