.wrapper [class*="IconLabel__wrapper"] a {
  text-decoration: none;
}

.wrapper [class*="IconLabel__wrapper"] a:hover {
  text-decoration: underline;
}

.coverWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 39.0625%; /* Cover Ration: 2.56 */
}

.coverContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.profilePicture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.profileWrapper {
  min-height: 130px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.profilePictureWrapper {
  position: relative;
  min-height: 130px;
  width: 130px;
  background-color:var(--primary-color);
}

.profileNameWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color:var(--primary-color);
  flex: 1;
  color:white;
  padding: 10px;
  min-height: 130px;
}

.profileName {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

.dates {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.location {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.location a {
  color: inherit;
  text-decoration: none;
}

.location a:hover {
  text-decoration: underline;
}
.parentName {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .dates {
    font-size: 1.6rem;
  }

  .location {
    font-size: 1.6rem;
  }

  .subname {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profileName {
    font-size: 2rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .profileName {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .profileName {
    font-size: 2.5rem;
    padding: 20px;
  }
}

.subscriptionBtn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5%;
  margin-right: 3%;
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: var(--segundary-color) !important;
  font-size: 40px !important;
}



.infos {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
.detailsContainer {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .infos {
    margin-left: 1.5%;
    padding-left: 140px;
  }
  .detailsContainer {
    margin-left: 5.5%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px){
  .detailsContainer {
    margin-left: 14.5%;
  }
}

.abstract, .details {
  width: 100%;
}

.details {
  margin-bottom: 3%;
}

.abstract {
  margin-bottom: -5%;
}

.description {
  width: 100%;
  padding: 5%;
  padding-top: 2%;
}

.abstract a, .description a {
    color: grey;
}

.descriptionBorder {
  border-top: 1px solid grey;
}

.sliderWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.slider [class*="slick-prev"],
.slider [class*="slick-next"] {
  color:white;
}

.slider [class*="slick-prev"]:hover,
.slider [class*="slick-next"]:hover {
  color: var(--segundary-color);
}

.mediaGallery {

}

.modalMedia [class*="slick-prev"],
.modalMedia [class*="slick-next"] {
  color:white;
}

.subscriptionContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
}

.shareContainer {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 48px;
  height: 48px;
}

.iconBlock {
  padding: 5px;
  margin-top: 10px;
}

.details {
  width: 100%;
}

.details {
  padding-bottom: 2%;
  padding-top: 2%;
}

.soundcloudPlaylistPlayerWrapper {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .soundcloudPlaylistPlayerWrapper {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 39.06%;
  }
}

.soundcloudPlaylistPlayerContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.soundcloudPlaylistPlayerIFrameWrapper {
  width: 100%;
  height: 100%;
}

.backLink {
  margin-bottom: 5px;
  color:white;
}

.backLink [class*="GoBackButton__wrapper"] {
  color: black;
}

.backLink [class*="GoBackButton__wrapper"]:hover {
  color: var(--segundary-color);
}
