.iconBlock {
  color:white;
  padding: 5px;
}

.iconBlock:hover {
  color: var(--segundary-color);
}

.iconBlock [class*="IconBlock__icon"] {
  font-size: 2.3rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 3rem;
  }
}
