.wrapper {
  padding-bottom: 10px;
}

.wrapper [class*="HoloColoredTitle__title"] [class*="FullLineTitle__title"] {
  text-transform: uppercase;
}

.sectionTitle {
  margin-top: 10px;
  text-align: center;
  background-color: #1f193e;
  color:white;
  height: 50px;
}

.tabBtn {
  font-size: 1.2rem !important;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .tabBtn {
    font-size: 1.6rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .tabBtn {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .tabBtn {
    font-size: 2rem !important;
  }
}

.tabBtn:hover {
  background-color: #f69f00 !important;
}

.moreBtnWrapper {
  height: 70px;
}

.emptyWrapper {
  height: 50px;
}

.emptyWrapper > div {
  position: relative;
  height: 100%;
}

.emptyWrapper > div > span {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
