.wrapper {
  display: block;
  width: 100%;

  text-decoration: none;
  color: inherit;
}

.pictureWrapper {
  position: relative;
  padding-bottom: 100%;
}

.pictureContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contentWrapper {

}

.moreInfo {
  display: none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrapper:hover .moreInfo {
  display: block;
}

.moreInfo span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.showcaseName {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;

  text-transform: uppercase;

  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .showcaseName {
    font-size: 1.6rem;
  }
}

.showcaseActivity {
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
}