.artistWrapper {
  width: 100%;
  height: 100%;
}

.artistWrapper [class*="SubscriptionContainer__childrenContainer"] {
  height: 100%;
}

.artistWrapper [class*="SubscriptionContainer__subscriptionContainer"] {
  top: 10px;
  right: 10px;
  bottom: inherit;
}

.artistWrapper [class*="ShareContainer__childrenContainer"] {
  height: 100%;
}

.artistWrapper [class*="ShareContainer__shareContainer"] {
  top: 10px;
  right: 60px;
  bottom: inherit;
}

.subscriptionBtn > div span, .subscriptionBtn [class*="SubscriptionButton__icon"] span, .subscriptionBtn [class*="UnsubscriptionButton__icon"] span {
  color: #CE1317 !important;
}

.artistSeeMoreWrapper {
  height: 10%;
  width: 100%;
}

.artistSeeMoreWrapper [class*="FullRow__wrapper"] {
  height: 100%;
}

.artistSeeMore [class*="FullLineDecoratedTitle__title"] {
  text-align: right;
}

.artistSeeMore [class*="FullLineDecoratedTitle__decoratorWrapper"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.artistSeeMore [class*="FullLineDecoratedTitle__titleWrapper"] {
  color: #949598;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.artistSeeMore [class*="FullLineDecoratedTitle__titleWrapper"]:hover {
  text-decoration: underline;
}

.artistDescription {
  height: 100%; /*may cause bug later */
  width: 100%;
  padding: 10px;
}

.artistDescription [class*="ActorPortraitTopPicture__pictureWrapper"] {
  border: 1px solid #EFEFEF;
}

.artistDescription [class*="ActorPortraitTopPicture__name"] {
  font-weight: bold;
  color: #CE1317;
  text-transform: uppercase;
  text-align: center;
}
