.mainContent {
  /* background-color: #3300CC; */
}

.contentWrapper > * {
  background-color: rgba(255,255,255,0.9);
}


.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  height: 160px;
  background-color: var(--primary-color);
  color:white;
}

.message {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color:var(--primary-color);
  color:white;
  font-weight: bold;
  font-size: 2rem;
}

.updatePwdContainer {
  padding: 20px 40px;
  margin: 0 20px 20px 20px;
}
.updatePwd {
  background-color: var(--primary-color);
  color:white;
  text-transform: uppercase;
  padding: 7px 15px;
  text-decoration: none;
  box-shadow: 0 1px 3px var(--segundary-color), 0 1px 2px var(--segundary-color);
}

.header [class*="AccountHeader__profileNameWrapper"] {
  background-color:  var(--primary-color);
}

.header [class*="AccountHeader__profileMenuItem"] {
  background-color:  var(--primary-color);
}

.header [class*="AccountHeader__infosBlockTitle"] {
  background-color:  var(--primary-color);
}

.header [class*="AccountHeader__profileNameWrapper"] {
  background-color:  var(--primary-color);
}
