.wrapper {
}

.downloadlinkWrapper {
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  color:white;
}

.downloadlinkLink {
  display: block;
  position: relative;

  height: 100%;
  width: 100%;

  text-decoration: none;
  color:white;
  text-transform: uppercase;
}

.downloadlinkContent {
  width: 50%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  border-radius: 5px;
  padding: 10px;
  background-color: var(--primary-color);
}

.downloadlinkContent:hover {
  background-color: var(--primary-color);
  color:white;
}
