.mainContent  {
}
.contentWrapper > * {
  background-color: rgba(255, 255, 255, 0.9);
}
.message {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:white;
  font-weight: bold;
  font-size: 2rem;
}

.accountProgram [class*='AccountFavorites__profilePictureWrapper'] {
  width: 130px;
  height: 130px;
}

.accountProgram [class*='AccountFavorites__profileWrapper'] {
  height: 130px;
  background-color: var(--primary-color);
}

.accountProgram [class*='AccountFavorites__profileNameWrapper'] {
  margin-left: 135px;
  background-color: var(--primary-color);
}

.accountProgram [class*='AccountFavorites__profileName'] {
  font-family: "ITC Avant Garde Gothic";
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.accountProgram [class*='AccountFavorites__infosBlockTitle'] {
  height: 36px;
  background-color: var(--primary-color);
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='LinkedActor__wrapper'] {
  background-color: var(--primary-color);
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='LinkedActor__wrapper']:hover {
  background-color: var(--segundary-color);
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='ActorPortrait__date'] {
  color:white;
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='ActorPortrait__location'] {

  text-transform: uppercase;
  color:white;
  font-style: italic;
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='ActorPortrait__parentDesc'] {
  color:white;
}

.accountProgram [class*='AccountFavorites__inlineEvents'] [class*='ActorPortrait__content'] {
  color:white;
}

.accountProgram [class*='AccountFavorites__sectionTitle'] {
  height: 36px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.accountProgram [class*="AccountFavorites__sectionWrapper"] {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.empty {
  text-align: center;
}
.accountProgram [class*='AccountFavorites__sectionTitle'] {
  background-color: var(--primary-color);
  color:white;
  margin-bottom: 20px;
}
