.wrapper [class*="IconLabel__wrapper"] a {
  text-decoration: none;
}

.wrapper [class*="IconLabel__wrapper"] a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
}

.header [class*="FullRow__wrapper"], .header .title {
  height: 100%;
}

.header .subscriptionContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
}

.header .shareContainer {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 48px;
  height: 48px;
}

.title {

}

.dates {

}

.abstract, .details {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

.abstract {
  padding-bottom: 1%;
}

.description {
  width: 100%;
}

.abstract a, .description a {
  color: black;
}

.descriptionBorder {
  border-top: 1px solid grey;
}

.staticModalMediaGallery [class*="slick-prev"],
.staticModalMediaGallery [class*="slick-next"] {
  color: white;
  background-color: rgba(2, 144, 167, 0.6);
  padding: 5px;
  padding-bottom: 2%;
}

.staticMediaGallery {
}

.iconBlock {
  padding: 5px;
}

.details {
  width: 100%;
  padding: 1%;
}

.infos {
  background-color: white;
  padding-top: 1%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1%;
}

.iconBlock [class*="IconBlock__icon"] {
  font-size: 2.3rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .iconBlock [class*="IconBlock__icon"] {
    font-size: 3rem;
  }
}

.ticketWrapper {
  padding: 5px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.ticketWrapper a {
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  padding: 10px 5px 10px 5px;
  font-weight: bold;
  text-decoration: none;
}

.ticketWrapper a:hover {
  background-color: lightgray;
  color: black;
}

.ticketIcon {
  margin-right: 10px;
}

.contentNode {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: justify;
}

.slider [class*="slick-prev"],
.slider [class*="slick-next"] {
  color: white;
}

.slider [class*="slick-prev"]:hover,
.slider [class*="slick-next"]:hover {
  color: lightgray;
}

.modalSlider [class*="slick-prev"],
.modalSlider [class*="slick-next"] {
  color: black;
}

.modalSlider [class*="slick-prev"]:hover,
.modalSlider [class*="slick-next"]:hover {
  color: lightgray;
}

.coverWrapper {
  position: relative;
  width: 100%;

  padding-bottom: 39.0625%;/* Cover ratio: 2.56 */
}

.coverContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.soundcloudPlaylistPlayerWrapper {
  position: relative;
  width: 100%;
  height: 400px;

  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .soundcloudPlaylistPlayerWrapper {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .soundcloudPlaylistPlayerWrapper {
    height: auto;
    padding-bottom: 39.06%;
  }
}

.soundcloudPlaylistPlayerContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.soundcloudPlaylistPlayerIFrameWrapper {
  width: 100%;
  height: 100%;
}
