.container {
  width: 100%;
  height: 100%;
}

.cardButtonLink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.cardButtonLink > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playButtonIcon:hover {
  color: var(--segundary-color);
}

.playButtonIcon {
  display: block;
  position: relative;
  font-size: 3rem;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
