.mainContent > * {
  background-color: var(--primary-color);
}

.message {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:white;
  font-weight: bold;
  font-size: 2rem;
}

.headerContent [class*="AccountHeader__profilePictureWrapper"] {
  width: 130px;
  height: 130px;
}

.headerContent  [class*="AccountHeader__profileWrapper"] {
  height: 130px;
}

.headerContent [class*="AccountHeader__profileNameWrapper"] {
  margin-left: 135px;
  background-color: var(--primary-color);
}

.headerContent  [class*="AccountHeader__profileName"] {
  font-family: "ITC Avant Garde Gothic";
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.headerContent [class*="AccountHeader__infosBlockTitle"] {
  height: 36px;
  background-color: var(--primary-color);
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.headerContent [class*="AccountHeader__profileNameWrapper"] {
  background-color: var(--primary-color);
}
