.wrapper {
  background-color: #000000;

  background-repeat: no-repeat;
  background-position: center;
}

.gridWrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.menuPictureTextCenter [class*="CoverPictureLink__link_"] {
}

.menuItem:hover [class*="CoverPictureLink__container_"] {
}


.menuPicture a[class*="CoverPictureLink__link"] {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: initial;
  height: initial;
  /*border: 1px solid rgb(255, 255, 255);*/
}

.menuPictureTextCenter a[class*="CoverPictureLink__link"]{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: initial;
  height: initial;
  /*border: 1px solid rgb(255, 255, 255);*/
}

.menuPictureTextCenter [class*="CoverPictureLink__linkUnderPicto"] [class*="CoverPictureLink__linkUnderPictoText"] {
  font-size: 2rem;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  top: 0;
  padding: 0px;
  white-space: pre-line;
}

.menuItem {
  position: relative;
  width: 100%;
  height: 110px;
}

.overlay:hover {
  z-index: 100000;
  height: 120%;
  width: 100%;
}

.centerElem {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {

  .menuPictureTextCenter [class*="CoverPictureLink__linkUnderPicto"] [class*="CoverPictureLink__linkUnderPictoText"] {
    font-size: 2rem;

  }

  .centerElem {
    font-size: 2rem;
  }

  .menuItem {
    height: 160px;
  }
}

@media only screen and (min-width: 992px) {
  .menuPictureTextCenter [class*="CoverPictureLink__linkUnderPicto"] [class*="CoverPictureLink__linkUnderPictoText"] {
    font-size: 2.5rem;
  }

  .centerElem {
    font-size: 2.5rem;
  }

  .menuItem {
    height: 180px;
  }
}

@media only screen and (min-width: 1200px) {

  .menuPictureTextCenter [class*="CoverPictureLink__linkUnderPicto"] [class*="CoverPictureLink__linkUnderPictoText"] {
    font-size: 3rem;
  }

  .centerElem {
    font-size: 3rem;
  }

  .menuItem {
    height: 200px;
  }
}
