.backLink {
  margin-top: 5px;
  margin-bottom: 5px;
  color:white;
}

.backLink [class*="GoBackButton__wrapper"] {
  color: black;
}

.backLink [class*="GoBackButton__wrapper"]:hover {
  color: var(--segundary-color);
}

.newsItemDescription [class*='NewsItemComplete__title'] {
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: var(--segundary-color);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.newsItemDescription [class*='NewsItemComplete__infos'] {
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:white;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.newsItemDescription [class*='NewsItemComplete__comments'] {
  border-top: 1px solid grey;
  padding-top: 10px;
}

.newsItemWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 90%;
}

.newsItemContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.newsInlineItemDescription {
  height: 90%;
  width: 100%;
  padding: 10px;
}

.newsInlineItemDescription [class*="NewsItemPortraitTopPicture__date"] {
  font-weight: bold;
  color:var(--segundary-color);
}

.newsInlineItemDescription [class*="NewsItemPortraitTopPicture__title"] {
  font-weight: bold;
  color: var(--segundary-color);
  text-transform: uppercase;
  font-size: 0.8em;
  min-height: 50px;
}

.newsItemSeeMoreWrapper {
  height: 10%;
  width: 100%;
}

.newsItemSeeMoreWrapper [class*="FullRow__wrapper"] {
  height: 100%;
}

.newsItemSeeMore [class*="FullLineDecoratedTitle__title"] {
  text-align: right;
}

.newsItemSeeMore [class*="FullLineDecoratedTitle__decoratorWrapper"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.newsItemSeeMore [class*="FullLineDecoratedTitle__titleWrapper"] {
  color: #949598;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.newsItemSeeMore [class*="FullLineDecoratedTitle__titleWrapper"]:hover {
  text-decoration: underline;
}

.moreBtn {
  margin-top: 20px;
  height: 70px;
}

.moreBtn [class*="FullRow__wrapper"] {
  height: 100%;
}

.otherNewsTitle {
  color: #949598;
  border-top: 1px solid #949598;
  margin-top: 20px;
}

.otherNewsTitle [class*="BlockWithTitle__blockTitle"] {
  background-color: transparent;
}

.otherNewsTitle [class*="BlockWithTitle__blockTitle"] [class*="FullLineTitle__title"] {
  text-decoration: underline;
  text-transform: uppercase;
  color: #949598;
}

.wrapper {
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
}
