.mainContent {
  /* background-color: var(--primary-color); */
}

.contentWrapper > * {
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  height: 160px;
  background-color: var(--primary-color);
  color:white;
}

.message {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color:white;
  font-weight: bold;
  font-size: 2rem;
}

.accountProfile [class*="AccountHeader__profileNameWrapper"] {
  background-color:var(--primary-color);
}

.infos [class*="AccountInfos__infosBlockTitle"] {
  background-color: var(--primary-color) !important;
}

.notPendingLogOut {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 45px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.notPendingLogOut:hover {
  background-color: var(--segundary-color);
}

.notPendingLogOut a {
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.notPendingLogOut a span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.empty {
  text-align: center;
}
