.welcome {
    padding: 2%;
    height: 100%;
}

.welcomeTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 2%;
}

.welcomeText {
    margin-bottom: 2%;

}

.container {
    display: flex;
    flex-direction: row;
}

.img {
    max-width: 40%;
    max-height: 40%;
}

.row1 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    padding: 2%;
}
.row2 {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    padding: 2%;
}
.row3 {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    padding: 2%;
}
.row4 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: flex-start;
    padding: 2%;
}

.icon {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    flex: 4;
}

.Row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.ColL {
    flex: 2;
}

.ColR {
    flex: 1;
    height: 50%;
}

.infosContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button {
    border: 2px solid;
    padding: 14px 40px;
    border-radius: 12px;
}

.button:hover{

}
