.logoHeader {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .logoHeader{
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logoHeader{
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .logoHeader{
    width: 37%;
  }
}
