.mainContent {
}

.contentWrapper > * {
  background-color: rgba(255,255,255,0.9);
}


.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  height: 100px;
  color: #000;
}
