.linksWrapper {
    background-color: #1f193e;
    text-align: center;
}

.links > a {
    text-decoration: none;
}

.links > a > div {
    margin: 6px;
    background-color: #f69f00;
    padding: 8px;
    color:#fff;
    border-radius: 5px;
    border: 1px solid #f69f00;
}

.links > a > div:hover {
    background-color:#1f193e;
    border: 1px solid #fff;
}

.links > a > div > i {
    margin-right: 6px;
}
