.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
}

.wrapper {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
}

.wrapper [class*="PictureTitle__wrapper"] {
    background-color: transparent;
}

.wrapper {
    padding-bottom: 20px;
}

.detailsBlockWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.detailsBlockWrapper span {
    font-weight: bold;
}

.detailsBlockWrapper a {
    color: inherit;
    text-decoration: inherit;
}

.detailsBlockWrapper a:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 10px;
    color: grey;
}

.marker {
    color: grey;
}

.tabBtn {
    font-size: 1.6rem !important;
    white-space: normal;
}

@media only screen and (min-width: 768px) {
    .tabBtn {
        font-size: 1.7rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .tabBtn {
        font-size: 1.8rem !important;
    }
}

@media only screen and (min-width: 1200px) {
    .tabBtn {
        font-size: 2rem !important;
    }
}

.tabBtn:hover {
    background-color: grey !important;
}

.summary {
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.content {
    padding: 10px;
    text-align: justify;
}

.contentNode {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: justify;
}

.slider [class*="slick-prev"],
.slider [class*="slick-next"] {
    color: white;
}

.slider [class*="slick-prev"]:hover,
.slider [class*="slick-next"]:hover {
    color: grey;
}

.modalSlider [class*="slick-prev"],
.modalSlider [class*="slick-next"] {
    color: #000000;
}

.modalSlider [class*="slick-prev"]:hover,
.modalSlider [class*="slick-next"]:hover {
    color: grey;
}

.coverWrapper {
    position: relative;
    width: 100%;
}

.downloadlinkWrapper {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.downloadlinkLink {
    display: block;
    position: relative;

    height: 100%;
    width: 100%;

    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.downloadlinkContent {
    width: 100%;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    border-radius: 5px;
    padding: 10px;
    background-color: black;
}

.downloadlinkContent:hover {
    background-color: grey;
    color: white;
}

.sectionTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    height: 36px;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2%;
}
