.headerWrapper {
  position: relative;
  min-height: 300px;
  padding-bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .headerWrapper {
    min-height: initial;
    padding-bottom: 39.0625%; /* Ratio: 2.56 */
  }
}

.headerContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.profileWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: table;
  background-color: var(--primary-color);
}

.profilePictureWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.profileNameWrapper {
  position: relative;
  height: 100%;
  display: table-cell;
  width: 100%;

  margin-left: 105px;
  background-color: var(--primary-color);
}

.profileName {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  width: 100%;
  color:white;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .profileWrapper {
    height: 130px;
  }

  .profilePictureWrapper {
    width: 130px;
    height: 130px;
  }

  .profileNameWrapper {
    margin-left: 135px;
  }

  .profileName {
    font-size: 2.5rem;
    top: 65px;
  }
}

.profileMenu {
  position: relative;
  width: 100%;
  height: 100%;
}

.profileMenu [class*="Col__wrapper"] {
  padding: 5px;
}

@media only screen and (min-width: 992px) {
  .profileMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 42%;
  }

  .profileMenu [class*="Col__wrapper"] {
    padding: 0;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .profileMenu {
    width: 33%;
  }

  .profileMenu [class*="Col__wrapper"] {
    padding: 0;
    padding-right: 10px;
  }
}
.profileMenuItem {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border:solid 2px white;
  height: 45px;
  background-color :var(--primary-color);
  cursor: pointer;
  right: 10px;
}

@media only screen and (min-width: 992px) {
  .profileMenuItem {
    height: 64px !important;
  }
}

.profileMenuItem a {
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.profileMenuItem a span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.links {
  display: block;
  background-color: var(--primary-color);
  color:white;
  padding: 20px 10px;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
}

.links:hover {
  background-color: var(--segundary-color);
}

.links > i {
  padding: 0 10px 0 0;
}

.selectedLink {
  background-color: var(--primary-color);
}

.favoritesMenuItemsWrapper {
  background-color: var(--primary-color);
}
