.wrapper {
  position: relative;
  padding-top: 100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
}

.socialIconLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 2.7rem;
  color:black;
}

.content:hover {
  background-color: var(--segundary-color);
}

@media only screen and (min-width: 768px) {
  .socialIconLink {
    font-size: 2.7rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .socialIconLink {
    font-size: 3.8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .socialIconLink {
    font-size: 4rem !important;
  }
}

.socialIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
