.wrapper {
}

.content {
  background-color: transparent;
}

.content > [class*="FullRow__col"] {
}

.grid {
  background-color: rgba(255, 255, 255, 0.9);
}

.video {
  width: 80%;
  margin-left: 10%;
}
