.main {
  width: 100%;
  height: 100%;
}

.menuMainOpen {

}

.menuItem {

}

.button {
  height: 100%;
  width: 100%;
  align-items: inherit;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  display: block;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;

  color: var(--primary-color) !important;
  background-color: var(--segundary-color) !important;
}

.button:hover {
  color: var(--segundary-color) !important;
  background-color: var(--primary-color) !important;
}

.buttonLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  white-space: pre-line;
}

/*
.menuItemContainer {
  height: 100%;
}
*/

.menuSeparatorWrapper {

}

.menuItemExsegundaryal {
  text-decoration: none;
  color: inherit;
}
