.cover {
    background-size: contain;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
}
